# Copyright (c) 2020 NXP
# Copyright (c) 2020 Teslabs Engineering S.L.
# SPDX-License-Identifier: Apache-2.0

menuconfig KSCAN_CY8CMBR3108
	bool "CY8CMBR3108 capacitive touch panel driver"
	depends on I2C
	help
	  Enable driver for Cypress CY8CMBR3108

if KSCAN_CY8CMBR3108

config KSCAN_CY8CMBR3108_PERIOD
	int "Sample period"
	depends on !KSCAN_CY8CMBR3108_INTERRUPT
	default 500
	help
	  Sample period in milliseconds when in polling mode.

config KSCAN_CY8CMBR3108_INTERRUPT
	bool "Enable interrupt"	
	default y
	help
	  Enable interrupt support (requires GPIO).

endif # KSCAN_CY8CMBR3108
